---
title: "Weeks {{ week_index * 2 + 1 }}-{{ week_index * 2 + 2 }}: CNCF Projects Starting with {{ letter }}"
letter: "{{ letter }}"
week: {{ week_index }}
data_key: "{{ week_key }}"
layout: "list"
---

{{ summary }}
